body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(../Uas/image/bgprps5.jpg);
}

.login-box {
    background-color: #fff;
    padding: 40px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 20px;
    position: relative;
    
}

.textbox i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    
}

.textbox input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #cd853f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}